
.nav{
  display: flex;
  gap: 1rem;
}
.h1>span{
  color: #49D0FF;
}
.nav>button{
  color: white;
  
}

.buttonsList{
  display: flex;
  gap: 2rem;
}
 .twoCard {
  color: white;
  width: 1.125rem;
  height: 1.125rem;
  background: #49D0FF;
  list-style: none;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cartNumbers{
  color: white;
  list-style-type: none
}
 
.menuBlock{
color: white;
cursor: pointer;
position: relative;


}
.menuList{
  display: flex;
  position: absolute;
  justify-content: center;
  color: #f9f9f9;
  background-color: black;
  top: 62px;
  left: -1px;
  width: 145px;
  height: 20.375rem;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  z-index: 1;
  height: 0px;
  overflow: hidden;
  border-radius: 0.3125rem;
}
.menuBlock:hover>.menuList,.menuList:hover{
 height: 20.375rem;
 overflow: visible;

}
.navButton{
  width: 145px;
  background-color: black;
  height: 62px;
}