.section{
  background: linear-gradient(120deg, #0D99F8  5%,#21A0F8 27%,#54B5FF 73% ,#0DBBF8  , #0DDBF8 );
}
.h2{
  font-size: 3.5rem;
  line-height: 4rem;
}
.title{
  width: 40.8125rem;
  font-size: 1.1875rem;
  display: flex;
  flex-direction: column;
  gap: 1.185rem;
  position: relative;
  top: 6.125rem;
  left: 5.625rem;

}
.circle{
  display: flex;
  width: 4.8125rem;
  height: 4.8125rem;
  border: solid 1px white;
  border-radius: 2.9rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.text{
  width: 13.125rem;
}
.preceptList{
  display: flex;
  position: relative;
  top: 131px;
  left: 5.625rem;
}
.preceptItem{
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4375rem;
  width: 15.75rem;
  height: 4.125rem;
  border-radius: 0.3125rem;
  color: white;
  background-color: black;
  font-weight: 400;
  font-size: 0.75rem;
  transition: 2s;
  position: relative;
    top: 172px;
    left: 5.625rem;
}
.button:hover{
  background-color: #00BDFF;
  transition: 2s;
}
.image{
  position: relative;
  left: 63px;
  top: -122px;
}