@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.wrapper {
  margin: 0 auto;
  
}
body {
 background-color: white;
}
h2{
font-size: 2.4375rem;
font-weight: 700;
line-height: 2.3125rem;
}
h3{
  color: white;
font-size: 0.9375rem;
}
footer  a,footer p,footer li{
color: #DCDCE0;
font-size: 0.9375rem;
}

